.dashboard-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

#add-card {
  display: none;
}

.add-card-button {
  margin-bottom: 40px;
}

.create-container {
  margin-bottom: 50px;
}

.create-container,
.form-control {
  width: 1100px;
}

.edit-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.card {
  margin-bottom: 30px;
  margin-top: 20px;
}

.edit-button {
  margin-left: 70px;
}

.delete-button {
  margin-right: 60px;
}
